menu "Configurações do módulo de cartão SD SPI"

    config MOUNT_POINT
        string "Ponto de montagem (mount point)"
        default "/sdcard"

	config PIN_CLK
		int "Número do pino GPIO CLK"
		default 18

	config PIN_CS
		int "Número do pino GPIO CS"
		default 5

	config PIN_MISO
		int "Número do pino GPIO MISO"
		default 19

	config PIN_MOSI
		int "Número do pino GPIO MOSI"
		default 23
endmenu
